<div class="header">
  <div class="toggle-group">
    <!-- Optional toggle buttons -->
  </div>

  <div class="add-section">
    <mat-form-field appearance="standard">
      <mat-label>Role Name</mat-label>
      <input matInput [(ngModel)]="newRoleName" />
    </mat-form-field>

    <button
      mat-raised-button
      class="circular-button primary-button"
      color="primary"
      (click)="isEditMode ? updateRole() : addRole()"
      [disabled]="newRoleName.trim().length === 0"
    >
      <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
    </button>

    <button
      mat-button
      color="warn"
      *ngIf="isEditMode"
      (click)="cancelAction()"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th style="width: 80%;">Role Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles$ | async">
        <td>{{ role.name }}</td>
        <td class="actions">
          <mat-icon aria-label="edit role" class="icon" (click)="startEdit(role)">edit</mat-icon>
          <mat-icon aria-label="Delete role" class="icon" (click)="deleteRole(role._id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>