
<div class="header">
 
  <div class="toggle-group">
    <!-- No toggle buttons added -->
  </div>
  <button (click)="openAddCustomer()">Add Customer</button>
  
</div>

<!-- Customer Table -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th style="width: 21%;">Customer Name</th>
        <th style="width: 50%;">Address</th>
        <th style="width: 17%;">Phone.No</th>
        <th style="width: 12%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of  paginatedCustomers">
        <td>{{ element.name }}</td>
        <td>{{ element.address }}</td>
        <td>{{ element.phoneNo }}</td>
        <td class="actions">
          <mat-icon aria-label="Edit customer" class="icon" (click)="openAddCustomer(element)">edit</mat-icon>
          <mat-icon aria-label="Delete customer" class="icon" (click)="deleteCustomer(element._id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
  [length]="customers.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>

</div>