<div class="popup-overlay">
  <div class="popup-container">
    <div class="popup-scroll">
      <h2>Add Process</h2>

      <form [formGroup]="processForm" (ngSubmit)="onSubmit()">
        <!-- Process Name + Checkboxes in same row -->
        <div class="process-type-row">
          <mat-form-field appearance="standard" class="process-name-field">
            <mat-label>Process Name</mat-label>
            <input matInput formControlName="processName" placeholder="Enter process name" />
            <mat-error *ngIf="processForm.get('processName')?.touched && processForm.get('processName')?.hasError('required')">
              Process name is required
            </mat-error>
          </mat-form-field>

          <div class="checkbox-group-inline">
            <mat-label>Select Type</mat-label>
            <mat-checkbox
              [checked]="isChecked('grade')"
              (change)="onExclusiveCheckboxChange('grade', $event.checked)"
            >
              Grade
            </mat-checkbox>
            <mat-checkbox
              [checked]="isChecked('material')"
              (change)="onExclusiveCheckboxChange('material', $event.checked)"
            >
              Material
            </mat-checkbox>
          </div>


         
        </div>

        <!-- Grade Dropdown -->
        <mat-form-field *ngIf="isChecked('grade')" appearance="outline" class="full-width">
          <mat-label>Grade</mat-label>
          <mat-select formControlName="grade" placeholder="Select grade">
            <mat-option *ngFor="let grade of grades$ | async" [value]="grade.name">{{ grade.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="processForm.get('grade')?.touched && processForm.get('grade')?.hasError('required')">
            Grade is required
          </mat-error>
        </mat-form-field>

        <!-- Material Dropdowns -->
        <div *ngIf="isChecked('material')" class="materials">
          <div formArrayName="materials">
            <div *ngFor="let group of materials.controls; let i = index" [formGroupName]="i" class="material-row">
              <mat-form-field appearance="standard" class="material-field">
                <mat-label>Type</mat-label>
                <mat-select formControlName="selectedType" (selectionChange)="onTypeChange(i, $event.value)">
                  <mat-option *ngFor="let type of materialTypes" [value]="type">{{ type }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="standard" class="material-field">
                <mat-label>Material Name</mat-label>
                <mat-select formControlName="selectedName">
                  <mat-option *ngFor="let name of group.value.filteredNames" [value]="name.name">
                    {{ name.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="standard" class="material-field">
                <mat-label>Quantity</mat-label>
                <input matInput type="number" formControlName="quantity" />
              </mat-form-field>

              <button
  mat-icon-button
  color="primary"
  matTooltip="Fill all fields to add another material"
  (click)="addMaterial()"
  *ngIf="i === materials.length - 1"
  [disabled]="!group.valid"
>
  <mat-icon>add</mat-icon>
</button>

            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
