 <table>
    <thead>
      <tr>
        <th rowspan="2">Overheads</th>
        <th colspan="2">Cost</th>
      </tr>
      <tr>
        <th>Previous Cost</th>
        <th>Present Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Repairs Maintenance</td>
        <td class="cost-text">
          2023-09 = 56, 2024-09 = 58, 2024-10 = 60, 2024-11 = 62, 2024-12 = 65, 2025-01 = 66, 2025-02 = 68, 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70
          , 2025-03 = 70


        </td>
        <td>2025-09 = 90</td>
      </tr>
    </tbody>
  </table>