<div class="table-wrapper">
  <!-- Form Section: top-right -->
  <div class="form-actions">
    <mat-form-field appearance="standard">
      <mat-label>Material Type Name</mat-label>
      <input matInput [(ngModel)]="newMaterialType" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="circular-button"
      (click)="isEditMode ? updateMaterial() : addMaterial()"
      [disabled]="newMaterialType.trim().length === 0"
    >
      <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
    </button>
    <button
      mat-button
      color="warn"
      *ngIf="isEditMode"
      (click)="cancelAction()"
    >
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </div>

  <!-- Table Section -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th style="width: 80%;">Material Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materialTypes$ | async">
          <td>{{ material.name }}</td>
          <td class="actions">
            <mat-icon aria-label="Edit material type" class="icon" (click)="startEdit(material)">edit</mat-icon>
            <mat-icon aria-label="Delete material type" class="icon" (click)="deleteMaterialType(material._id)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>