<div class="header">
  <h2>Customer Details</h2>
  <button mat-raised-button color="primary" (click)="addCustomerDetails()" >addCustomerDetails</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Grade Name</th>
        <th>Process Type</th>
        <th>Input Type</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let customer of selectedCustomerDetails$ | async">
        <tr>
          <td>{{ customer.customerName }}</td>
          <td>{{ customer.grade }}</td>
          <td>{{ customer.processType }}</td>
          <td>
            <span *ngIf="customer.castingInputs?.length">Casting Inputs</span>
            <span *ngIf="customer.coreInputs?.length">
              <span *ngIf="customer.castingInputs?.length">, </span>Core Inputs
            </span>
            <span *ngIf="customer.mouldingInputs?.length">
              <span *ngIf="customer.castingInputs?.length || customer.coreInputs?.length">, </span>Moulding Inputs
            </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
