.button{
  margin-right: 10%;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

th.mat-header-cell, td.mat-cell {
  padding: 10px;
  text-align: left;
}

th.mat-header-cell {
  color: #ffffff;
  background-color: #5b84ff;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 12px;
  
}


::ng-deep .mat-paginator {
  background-color:  #ededf0; 
}


/* Table header background color */
.custom-grade-table th[mat-header-cell] {
 
}