<div class="container">
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      (click)="openAddMeterialPopup()"
      aria-label="Add new grade"
      class="add-grade-button"
    >
      <mat-icon>add</mat-icon> Add Grade
    </button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th class="fixed-col" rowspan="2">Material</th>
          <th class="fixed-col" rowspan="2">Unit Cost</th>
          <ng-container *ngFor="let grade of gradeColumns">
            <th>
              {{ grade.gradeNo }}
              <button mat-icon-button color="warn" (click)="deleteGrade(grade._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </th>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let grade of gradeColumns">
            <th>
              {{ grade.gradeName }}
              <button mat-icon-button color="accent" (click)="openeditMeterialPopup(grade)">
                <mat-icon>edit</mat-icon>
              </button>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let category of materialTypes">
          <!-- Category Row -->
          <tr>
            <td class="fixed-col category">{{ category }}:</td>
            <td class="fixed-col"></td>
            <td [attr.colspan]="gradeColumns.length"></td>
          </tr>

          <!-- Material Rows -->
          <tr *ngFor="let material of materialMap[category]">
            <td class="fixed-col">{{ material.name }}</td>
            <td class="fixed-col">₹{{ material.unitCost }}</td>

            <ng-container *ngFor="let grade of gradeColumns">
              <td class="data">
                <ng-container *ngIf="getQuantity(material.name, grade.gradeNo) !== null; else dash">
                  Qty: {{ getQuantity(material.name, grade.gradeNo) }} <br />
                  (₹{{ material.unitCost * getQuantity(material.name, grade.gradeNo) | number: '1.1-2' }})
                </ng-container>
                <ng-template #dash>-</ng-template>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
