<div  class="d-flex justify-content-end button">
<button mat-raised-button color="primary" (click)="openAddMeterialPopup()" >Add Grade</button>
</div>



<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Grade No Column -->
    <ng-container matColumnDef="gradeNo">
      <th mat-header-cell *matHeaderCellDef> Grade No </th>
      <td mat-cell *matCellDef="let grade"> {{ grade.gradeNo }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let grade"> {{ grade.name }} </td>
    </ng-container>

   
 <!-- Raw Material Column (Simplified Format) -->
<ng-container matColumnDef="rawMaterial">
  <th mat-header-cell *matHeaderCellDef> Raw Materials </th>
  <td mat-cell *matCellDef="let grade">
    <div *ngIf="grade.rawMaterial?.length > 0">
      <div *ngFor="let rm of grade.rawMaterial" style="margin-bottom: 6px;">
        <strong>{{ rm.type }}:</strong>
        <span *ngFor="let mat of rm.materialsUsed; let last = last">
          {{ mat.name }}-{{ mat.quantity }}<span *ngIf="!last">, </span>
        </span>
      </div>
    </div>
    <div *ngIf="!grade.rawMaterial || grade.rawMaterial.length === 0">
      No Materials
    </div>
  </td>
</ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let grade">
        <button mat-icon-button (click)="openeditMeterialPopup(grade)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let grade">
        <button mat-icon-button (click)="deleteGrade(grade._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
