<div class="container">
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      (click)="openAddMeterialPopup()"
      aria-label="Add new grade"
      class="add-grade-button"
    >
      <mat-icon>add</mat-icon> Add Grade
    </button>
  </div>

 <table>
  <thead>
    <tr>
      <th rowspan="2">Material</th>
      <th rowspan="2">Unit Cost</th>
      <ng-container *ngFor="let grade of gradeColumns">
       <th>{{ grade.gradeNo }}
  <button
    mat-icon-button
    color="warn"
    (click)="deleteGrade(grade._id)"
    aria-label="Delete grade"
  >
    <mat-icon>delete</mat-icon>
  </button>
</th>

      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let grade of gradeColumns">
        <th>{{ grade.gradeName }}
          <button
    mat-icon-button
    color="accent"
     (click)="openeditMeterialPopup(grade)" 
    aria-label="Edit grade"
  >
    <mat-icon>edit</mat-icon>
  </button>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <!-- Loop over categories -->
    <ng-container *ngFor="let category of materialTypes">
      <!-- Category Header -->
      <tr>
        <td class="category">{{ category }}:</td>
        <td colspan="{{ 2 + gradeColumns.length }}"></td>
      </tr>

      <!-- Loop over each material inside the category -->
      <tr *ngFor="let material of materialMap[category]">
        <td>{{ material.name }}   </td>
        <td>₹{{ material.unitCost }}</td>

        <!-- Fill quantity based on gradeColumns -->
        <ng-container *ngFor="let grade of gradeColumns">
 <td>
  <ng-container *ngIf="getQuantity(material.name, grade.gradeNo) !== null; else dash">
    Qty: {{ getQuantity(material.name, grade.gradeNo) }} 
    (₹{{ material.unitCost * getQuantity(material.name, grade.gradeNo) }})
  </ng-container>
  <ng-template #dash>-</ng-template>
</td>


</ng-container>

      </tr>
    </ng-container>
  </tbody>
</table>




</div>
