.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  min-width: 1200px;
  width: max-content;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
  white-space: nowrap;
  min-width: 100px;
  background-color: white;
}

thead th {
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.fixed-col {
  position: sticky;
  left: 0;
  z-index: 4;
  background-color: #fff;
  width: 30px;
}



.category {
  font-weight: bold;
  background-color: #e6f7ff;
}

.table-wrapper::-webkit-scrollbar {
  height: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}

.data{
  width: 30px;
}

.button-container{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}