<h2 mat-dialog-title>{{ isEditMode ? 'Edit Salary Wages' : 'Add Salary Wages' }}</h2>

<form [formGroup]="salaryForm" (ngSubmit)="onSubmit()" mat-dialog-content>
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Process Name</mat-label>
      <input matInput formControlName="processName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Salary for Process</mat-label>
      <input matInput type="number" formControlName="salaryforProcess" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Salary Excluding Core Making</mat-label>
      <input matInput type="number" formControlName="salaryExcludingCoreMaking" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Salary For Core Production</mat-label>
      <input matInput type="number" formControlName="salaryForCoreProduction" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Outsourcing Cost</mat-label>
      <input matInput type="number" formControlName="outSourcingCost" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Special Outsourcing Cost</mat-label>
      <input matInput type="number" formControlName="splOutSourcingCost" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    
    <button mat-flat-button color="primary" type="submit">
      Submit
    </button>
  </div>
</form>
