<div class="header">
  <h2>User List</h2>
  <button mat-raised-button color="primary" (click)="openAddUserPopup()">Add User</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>User Code</th>
        <th>Name</th>
        <th>Department</th>
        <th>Role</th>
        <th>Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td>{{ user.UserCode }}</td>
        <td>{{ user.UserName }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.role?.name || user.role }}</td>
        <td class="actions">
          <mat-icon class="icon" (click)="openEditUserPopup(user)">edit</mat-icon>
          <mat-icon class="icon" (click)="deleteUser(user)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="users.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
