table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th.mat-header-cell, td.mat-cell {
  padding: 0 16px;
  text-align: left;
}

.mat-paginator {
  background: #f5f5f5;
}

.button{
  margin-right: 10%;
}




::ng-deep th.mat-header-cell.bold-header {
  color: #ffffff;              
  font-size: small;
  font-size: 14px;
  background-color: #5b84ff;
}

