
<button mat-raised-button color="primary" (click)="openAddUserPopup()">Add User</button>
<div class="container mt-4">
  <h3 class="mb-3">User List</h3>
    
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table">
        <tr>
          <th>S.No</th>
          <th>User Code</th>
          <th>User Name</th>
          <th>Department</th>
          <th>Role</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>20253</td>
          <td>Mahesh</td>
          <td>Software</td>
          <td>Fresher</td>
          <td>•••••</td>
          <td class="text-center">
            <span class="material-icons text-primary me-2 action-icon" title="Edit">edit</span>
            <span class="material-icons text-danger action-icon" title="Delete">delete</span>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>20254</td>
          <td>Priya</td>
          <td>Design</td>
          <td>Senior</td>
          <td>•••••</td>
          <td class="text-center">
            <span class="material-icons text-primary me-2 action-icon" title="Edit">edit</span>
            <span class="material-icons text-danger action-icon" title="Delete">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
