<mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex fxHide.lt-md>ATTENDANCE SYSTEM</span>
    <span fxFlex fxHide.gt-sm fxShow.lt-md>ATTENDANCE SYSTEM</span>
  
    <button class="avatar-btn">
      <div class="img-container">
        <span class="avatar-text">J</span>
      </div>
    </button>
  </mat-toolbar>
  
  
  <mat-sidenav-container ngClass.lt-md="mobile">
    <mat-sidenav class="sidenav">
      <mat-accordion displayMode="flat" class="custom-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
            <mat-panel-title>
              <div gdRows>
                <div>Settings</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item routerLinkActive="active" role="listitem">Profile</mat-list-item>
            <mat-list-item routerLinkActive="active" role="listitem">Preferences</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
  
        <mat-list role="list">
          <mat-list-item routerLinkActive="active" role="listitem">Dashboard</mat-list-item>
        </mat-list>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-menu class="profile-menu-panel">
    <div fxLayout class="profile-card">
      <div class="profile-pic"></div>
      <div class="profile-details" fxLayout="column">
        <div class="profile-name truncate-text text-transform-caps">John Doe</div>
        <div class="profile-email truncate-text">john.doe@example.com</div>
        <div class="profile-role truncate-text text-transform-caps">Admin</div>
      </div>
    </div>
    <div class="profile-items">
      <ul>
        <li>
          <div fxLayout>
            <div class="item-icon">
              <mat-icon>exit_to_app</mat-icon>
            </div>
            <div class="item-label">Log out</div>
          </div>
        </li>
      </ul>
    </div>
  </mat-menu>