

<div>


  <h1>Salary & Wages History</h1>



  <table cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Salary Excluding Core</th>
      <th>Salary Core Production</th>
      <th>Salary Process</th>
      <th>Outsourcing Cost</th>
      <th>Special Outsourcing</th>
      <th>Total Outsourcing</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paginatedSalary">
      <td>{{item.salaryExcludingCoreMaking}}</td>
      <td>{{item.salaryForCoreProduction}}</td>
      <td>{{item.salaryforProcess}}</td>
      <td>{{item.outSourcingCost}}</td>
      <td>{{item.splOutSourcingCost}}</td>
      <td>{{item.TotalOutSourcingCost}}</td>
      <td>{{item.updatedAt | date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>



<mat-paginator
  [length]="filteredSalaryHistory.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>
  
</div>





<h1>Overheads History</h1>

<table  cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Repair & Maintenance</th>
      <th>Selling/Distribution & Misc</th>
      <th>Finance Cost</th>
      <th>Total Overheads</th>
      <th>Total Overheads + Finance</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredOverHeadsHistory">
      <td>{{ item.repairAndMaintenance }}</td>
      <td>{{ item.sellingDistributionAndMiscOverHeads }}</td>
      <td>{{ item.financeCost }}</td>
      <td>{{ item.totalOverHeads }}</td>
      <td>{{ item.totalOverHeadsWithFinanceCost }}</td>
      <td>{{ item.updatedAt | date:'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>
