<div class="p-4">
  <h2 class="text-xl font-bold mb-4">{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>
  <form [formGroup]="userForm" (ngSubmit)="submitUser()">
  
    <div class="box">
     
    
      <mat-form-field *ngIf="!isEditMode" appearance="outline" class="matfiles">
        <mat-label>User Code</mat-label>
        <input matInput id="UserCode" formControlName="UserCode" placeholder="Enter user code" />
        <mat-error *ngIf="userForm.get('UserCode')?.hasError('required')">
          User Code is required
        </mat-error>
      </mat-form-field>

    
      <mat-form-field appearance="outline" class="matfiles">
        <mat-label>Department</mat-label>
        <input matInput id="department" formControlName="department" placeholder="Enter department" />
        <mat-error *ngIf="userForm.get('department')?.hasError('required')">
          Department is required
        </mat-error>
      </mat-form-field>

      
      
    </div>

    
    <div class="box">
      
      <mat-form-field appearance="outline" class="matfiles">
        <mat-label>User Name</mat-label>
        <input matInput id="UserName" formControlName="UserName" placeholder="Enter user name" />
        <mat-error *ngIf="userForm.get('UserName')?.hasError('required')">
          User Name is required
        </mat-error>
      </mat-form-field>

     
     


      <mat-form-field appearance="outline" class="matfiles">
  <mat-label>Role</mat-label>
  <mat-select id="role" formControlName="role">
    <mat-option *ngFor="let role of roles$ | async" [value]="role.name">
      {{ role.name | titlecase }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="userForm.get('role')?.hasError('required')">
    Role is required
  </mat-error>
</mat-form-field>

      
    </div>


     <div class="box">
      <mat-form-field appearance="outline" class="matfiles">
        <mat-label>User Name (login)</mat-label>
        <input matInput id="userName" formControlName="userName" placeholder="Enter login userName" />
        <mat-error *ngIf="userForm.get('userName')?.hasError('required')">
          Login User Name is required
        </mat-error>
      </mat-form-field>


      
      <mat-form-field appearance="outline" class="matfiles">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password" placeholder="Enter password" />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
     </div>
    

   
    <div class="box">
      <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        {{ isEditMode ? 'Update' : 'Create' }} User
      </button>
    </div>
  </form>
</div>