
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 24px auto 16px auto;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #010101;
}

.header button {
  background-color: #5b84ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #466ddd;
}

/* Table Container */
.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 30px auto;
  background: white;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  text-align: center;
  padding: 10px;
  color: #5b84ff;
  font-weight: 600;
  border-bottom: 2px solid #5b84ff;
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  vertical-align: middle;
  white-space: nowrap;
}

tr:hover {
  background-color: #f9f9f9;
}

/* Left-align Process Name */
th:first-child,
td:first-child {
  text-align: left;
  padding-left: 16px;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    width: 100%;
    margin: 20px 10px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  th:first-child,
  td:first-child {
    font-size: 15px;
  }

  .header button {
    width: 100%;
    margin-top: 10px;
  }
}



td div {
  font-size: 12px;
  line-height: 1.3;
}
