<div class="header">
  <h2>Process Salary Wages</h2>
  <button (click)="addSalarywages()" mat-raised-button color="primary">Add Process Salary</button>
</div>

<!-- Table Container -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Process Name</th>
        <th *ngFor="let month of tableHeaders">{{ month }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of salaryTable">
        <td>{{ row.processName }}</td>
<td *ngFor="let month of tableHeaders">
  <ng-container *ngIf="row[month]; else noData">
    <div>Salary for Process: {{ row[month].salaryforProcess }}</div>
    <div>Excl. Core Making: {{ row[month].salaryExcludingCoreMaking }}</div>
    <div>Core Production: {{ row[month].salaryForCoreProduction }}</div>
    <div>Outsourcing Cost: {{ row[month].outSourcingCost }}</div>
    <div>Spl Outsourcing Cost: {{ row[month].splOutSourcingCost }}</div>
    <div><strong>Total (With Outsourcing): {{ row[month].TotalOutSourcingCost }}</strong></div>
  </ng-container>
  <ng-template #noData>-</ng-template>
</td>
        <td>
              <button mat-icon-button color="primary" (click)="editSalaryWagesFull(row.processName)">
                <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
