.content-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center; 
}

.content-wrapper button {
  flex: 0 0 auto; 
}



.unit-cost-banner {
  display: flex;
  align-items: center;
  background-color: #5073fb;         
  color: white;                      
  padding: 12px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                      
  max-width: fit-content;
}

.unit-cost-banner mat-icon:first-child {
  color: #ffeb3b;                   
  font-size: 24px;
}

.unit-cost-banner span {
  display: flex;
  align-items: center;
  gap: 8px;                        
}

.info-icon {
  font-size: 24px;
  color: #fffde7;
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.info-icon:hover {
  transform: scale(1.1);
}
