
    <mat-toolbar color="primary">
      <span>Costing Management</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button class="logout-button" [matMenuTriggerFor]="userMenu" matTooltip="User Profile" matTooltipPosition="below">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <div class="user-info">
          <div class="user-details">
            <span class="username">{{ username }}</span>
            <span class="role">{{ role }}</span>
          </div>
          <button mat-menu-item (click)="onLogout($event)" [routerLink]="['/auth/login']">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
      </mat-menu>
    </mat-toolbar>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" >
       <div class="nav-item-content">
         <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </div>
      </a>
    </mat-nav-list>
      
    <mat-nav-list>
      <a mat-list-item 
       [matMenuTriggerFor]="adminMenu"
   #adminMenuTrigger="matMenuTrigger"
   
      >
       <div class="nav-item-content">
         <mat-icon>admin_panel_settings</mat-icon>
            <span class="font">User Management
            </span>
        </div>
      </a>
    </mat-nav-list>

        <mat-nav-list>
      <a mat-list-item  [routerLink]="['/material']" >
       <div class="nav-item-content">
         <mat-icon >inventory</mat-icon>
            <span>Material Management</span>
        </div>
      </a>
    </mat-nav-list>
     <mat-nav-list>
      <a mat-list-item 
       [matMenuTriggerFor]="ProcessMenu"
   #ProcessMenuTrigger="matMenuTrigger"
   
      >
       <div class="nav-item-content">
         <mat-icon>settings</mat-icon>
            <span>Process Management</span>
        </div>
      </a>
    </mat-nav-list>
    
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/master/customer']">
       <div class="nav-item-content">
         <mat-icon >person</mat-icon>
            <span>Customer Details</span>
        </div>
      </a>
    </mat-nav-list>

     <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" >
       <div class="nav-item-content">
         <mat-icon >assessment</mat-icon>
            <span>Reports</span>
        </div>
      </a>
    </mat-nav-list>
    
   
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>





<mat-menu #adminMenu="matMenu"

yPosition="below" class="admin-menu">
  <button mat-menu-item [routerLink]="['/master']">
    <mat-icon>person</mat-icon>
    <span>User</span>
  </button>
  <button mat-menu-item [routerLink]="['/master/role']">
    <mat-icon>supervisor_account</mat-icon>
    <span>Role</span>
  </button>
  <button mat-menu-item [routerLink]="['/master/customer']">
    <mat-icon>groups</mat-icon>
    <span>Customer</span>
  </button>
  <button mat-menu-item [routerLink]="['/material/suppliers']">
    <mat-icon>group</mat-icon>
    <span>Supplier</span>
  </button>
  <button mat-menu-item [routerLink]="['/master/department']">
    <mat-icon>domain</mat-icon>
    <span>Department</span>
  </button>

</mat-menu>


<mat-menu #ProcessMenu="matMenu"

yPosition="below" class="admin-menu">
  <button mat-menu-item [routerLink]="['/master/meterialinput']" >
   <mat-icon>calculate</mat-icon>
    <span>Casting Input</span>
  </button>
   <button mat-menu-item [routerLink]="['/grade']" >
   <mat-icon>grade</mat-icon>
    <span>Grade</span>
  </button>
  

</mat-menu>