mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
 border-bottom: 1px solid #ccc;
}

.main-content {
  padding: 16px;
  height: calc(100vh - 64px);
  overflow: auto;
}

.mat-toolbar.mat-primary {
  background: #ffffff;
  color: #000000;
}

.logout-button {
  background-color: #ff4d4f;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d9363e;
}

.logout-button mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.role {
  font-size: 12px;
  color: #666;
}

.example-container {
  width: auto;
  background: #eee;
  height: calc(100vh - 64px); /* Ensure container fits below toolbar */
}

mat-drawer {
  padding-top: 20px;
  width: 75px;
  background: #ffffff;
  color: #333;
   border-right: 1px solid #ccc;
  overflow: hidden !important; /* Prevent overflow in the drawer */
  height: calc(100vh - 64px); /* Match container height */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}


mat-drawer::-webkit-scrollbar {
  display: none;
}

mat-nav-list {
  padding: 0;
  overflow: hidden; 
  display: flex;
  flex-direction: column; 

}

a[mat-list-item] {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  text-decoration: none;
  margin-bottom: 20px; 
  margin-bottom: 25px;
}

.nav-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a[mat-list-item] span {
  text-align: center;
  line-height: 11px;
  margin: 0 5px;
  font-size: 10px;
  margin-bottom: 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a[mat-list-item] mat-icon {
  margin-top: 6px;
  margin-bottom: 8px;
  color: #666;
  font-size: 25px;
  width: 20px;
  height: 20px;
}


a[mat-list-item].active-link {
  background-color: #ff4081;
  color: white;
}

a[mat-list-item].active-link span,
a[mat-list-item].active-link mat-icon {
  color: white;
}

::ng-deep .mat-menu-panel.custom-menu {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}


::ng-deep .mat-menu-panel.custom-menu.mat-menu-before,
::ng-deep .mat-menu-panel.custom-menu.mat-menu-after,
::ng-deep .mat-menu-panel.custom-menu.ng-trigger {
  opacity: 1 !important;
  transform: scale(1) !important;
  pointer-events: auto;
}
