
    <mat-toolbar color="primary">
      <span>QuotePro</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button class="logout-button" [matMenuTriggerFor]="userMenu" matTooltip="User Profile" matTooltipPosition="below">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <div class="user-info">
          <div class="user-details">
            <span class="username">{{ username }}</span>
            <span class="role">{{ role }}</span>
          </div>
          <button mat-menu-item (click)="onLogout($event)" [routerLink]="['/auth/login']">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
      </mat-menu>
    </mat-toolbar>


<!-- Sidebar and Content -->
<div class="sidenav-container">
  <aside class="custom-sidenav">
    <div class="sidenav-header"></div>
    <ul class="nav-list">
      <!-- Dashboard -->
      <li class="nav-item" routerLink="/dashboard/dash" routerLinkActive="active-link">
        <div class="nav-item-content">
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">dashboard</span>
          </div>
          <span class="nav-text">Dashboard</span>
        </div>
      </li>

      <!-- User Management -->
      <li class="nav-item has-submenu">
        <div class="nav-item-content">
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">group</span>
          </div>
          <span class="nav-text">User 
            management
          </span>
          
        </div>
        <ul class="submenu">
          <li routerLink="/master">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">person</span>
            </div>
            <span>User</span>
          </li>
          <li routerLink="/master/role">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">security</span>
            </div>
            <span>Role</span>
          </li>
          <li routerLink="/master/customer">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">people</span>
            </div>
            <span>Customer</span>
          </li>
          <li routerLink="/material/suppliers">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">business</span>
            </div>
            <span>Supplier</span>
          </li>
          <li routerLink="/master/department">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">apartment</span>
            </div>
            <span>Department</span>
          </li>
          <li routerLink="/dashboard/user-management/update">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">compare_arrows</span>
            </div>
            <span>Version</span>
          </li>
        
        </ul>
      </li>
      

      <!-- Material Management -->
      <li class="nav-item has-submenu">
        <div class="nav-item-content">
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">inventory_2</span>
          </div>
          <span class="nav-text">Material 
            management
          </span>
         
        </div>
        <ul class="submenu">
           <li routerLink="/material/material/type">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">list_alt</span>
            </div>
            <span>Material Type</span>
          </li>
          <li routerLink="/material/list">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">category</span>
            </div>
            <span>Material</span>
          </li>
           <li routerLink="/grade">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">grade</span>
            </div>
            <span>Grade</span>
          </li>
         
        </ul>
      </li>

      <!-- Process Management -->
      <li class="nav-item has-submenu">
        <div class="nav-item-content" >
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">engineering</span>
          </div>
          <span class="nav-text">Process 
            management
          </span>
       
        </div>
        <ul class="submenu">
          <li routerLink="/material/process">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">settings</span>
            </div>
            <span>Process</span>
          </li>
           
           <li routerLink="/material/salary-wages-history">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">attach_money</span>
            </div>
            <span>Expenditure</span>
          </li>
          
          <li routerLink="/master/meterialinput/casting">
            <div class="icon-wrapper">
              <span class="material-icons submenu-icon">input</span>
            </div>
            <span>Casting Input</span>
          </li>
        </ul>
      </li>

      <!-- Customers -->
      <li class="nav-item" routerLink="/material/customer-details" routerLinkActive="active-link">
        <div class="nav-item-content">
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">content_paste</span>
          </div>
          <span class="nav-text">QuotePro</span>
        </div>
      </li>

      <!-- Reports -->
      <li class="nav-item" routerLink="/dashboard/report" routerLinkActive="active-link">
        <div class="nav-item-content">
          <div class="icon-wrapper">
            <span class="material-icons nav-icon">bar_chart</span>
          </div>
          <span class="nav-text">Reports</span>
        </div>
      </li>
    </ul>
  </aside>
  <main class="main-content">
    <div [@routeAnimations]="getRouteAnimationData()">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>
</div>
