<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="over" [opened]="sidenavOpened" position="start">
    <mat-toolbar  style="background-color: #5b84ff;" >Cost Management</mat-toolbar>
    
    <mat-nav-list>
      <mat-list-item>
        <button  [routerLink]="['/dashboard']" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>


      <mat-list-item (click)="isAdminMenuOpen = !isAdminMenuOpen">
        <button mat-button>
          <mat-icon>admin_panel_settings</mat-icon> Admin
          <mat-icon style="margin-left:auto">{{ isAdminMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </mat-list-item>

      <div *ngIf="isAdminMenuOpen" class="nested-list">
          <mat-list-item>
            <button [routerLink]="['/master']" mat-button routerLinkActive="active">
              <mat-icon>person</mat-icon> User
            </button>
          </mat-list-item>
          <mat-list-item>
            <button [routerLink]="['/master/role']" mat-button routerLinkActive="active">
              <mat-icon>shield</mat-icon> Role
            </button>
          </mat-list-item>
          <mat-list-item>
            <button [routerLink]="['/master/customer']" mat-button routerLinkActive="active">
              <mat-icon>person</mat-icon> Customer
            </button>
          </mat-list-item>
      </div>

      <mat-list-item (click)="isMasterMenuOpen = !isMasterMenuOpen">
          <button mat-button>
            <mat-icon>settings</mat-icon> Master
            <mat-icon style="margin-left:auto">{{ isMasterMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
      </mat-list-item>



          <div *ngIf="isMasterMenuOpen" class="nested-list">
              <mat-list-item>
                <button [routerLink]="['/material']" mat-button routerLinkActive="active">
                  <mat-icon>construction</mat-icon> Material
                </button>
              </mat-list-item>
              <mat-list-item>
                <button [routerLink]="['/grade']" mat-button routerLinkActive="active">
                  <mat-icon>grade</mat-icon> Grade
                </button>
              </mat-list-item>
              <mat-list-item>
                <button [routerLink]="['/meterialtype']" mat-button routerLinkActive="active">
                  <mat-icon>text_fields</mat-icon> Material Type
                </button>
              </mat-list-item>
               <mat-list-item>
                <button [routerLink]="['/meterialtype/ProcessType']" mat-button routerLinkActive="active">
                  <mat-icon>account_tree</mat-icon>Process Type
                </button>
              </mat-list-item>
            </div>
      
      <mat-list-item>
        <button [routerLink]="['/posts']" mat-button>
          <mat-icon>home</mat-icon> Home
        </button>
      </mat-list-item>
     

     
     
     
    </mat-nav-list>


    
  </mat-drawer>
  
 <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Costing Management</span>
      <!-- Spacer to push logout button to the right -->
      <span style="flex: 1 1 auto;"></span>
      <!-- Circular Logout Button with Menu -->
      <button mat-icon-button class="logout-button" [matMenuTriggerFor]="userMenu" matTooltip="User Profile" matTooltipPosition="below">
        <mat-icon>account_circle</mat-icon>
      </button>
      <!-- User Menu -->
      <mat-menu #userMenu="matMenu" xPosition="before">
        <div class="user-info">
          <div class="user-details">
            <span class="username">{{ username }}</span>
            <span class="role">{{ role }}</span>
          </div>
          <button mat-menu-item (click)="onLogout($event)" [routerLink]="['/auth/login']">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
      </mat-menu>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>