body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto 16px auto;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #010101;
}

.search-box {
  width: 300px;
}

/* Table Container */
.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 30px auto;
  background: white;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  text-align: center;
  padding: 10px;
  color: #5b84ff;
  font-weight: 600;
  border-bottom: 2px solid #5b84ff;
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  vertical-align: middle;
  white-space: nowrap;
}

tr:hover {
  background-color: #f9f9f9;
}


/* Special left alignment for Process Name */
th:first-child,
td:first-child {
  text-align: left;
  padding-left: 16px;
  font-size: 16px;


}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  vertical-align: middle;
  white-space: nowrap;
}


/* Paginator */
mat-paginator {
  display: flex;
  justify-content: end;
  padding: 10px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.mat-paginator-container {
  font-family: Arial, sans-serif;
}

.mat-paginator-page-size-label,
.mat-paginator-range-label {
  color: #5b84ff;
}

.mat-paginator-icon {
  color: #5b84ff;
}

.mat-paginator-page-size-select .mat-select {
  color: #5b84ff;
}
/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    width: 100%;
    margin: 20px 10px;
  }

  th, td {
    font-size: 14px;
    padding: 8px;
  }

  th:first-child,
  td:first-child {
    font-size: 15px;
  }

  .search-box {
    width: 100%;
  }
}
