  <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Process Name</th>
                    <th>Jan Month</th>
                    <th>Feb Month</th>
                    <th>Mar Month</th>
                    <th>Apr Month</th>
                    <th>May Month</th>
                    <th>Jun Month</th>
                    <th>Jul Month</th>
                    <th>Aug Month</th>
                    <th>Sep Month</th>
                    <th>Oct Month</th>
                    <th>Nov Month</th>
                    <th>Dec Month</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Shell Moulding</td>
                    <td>52</td>
                    <td>55</td>
                    <td>60</td>
                    <td>58</td>
                    <td>62</td>
                    <td>65</td>
                    <td>70</td>
                    <td>68</td>
                    <td>63</td>
                    <td>59</td>
                    <td>57</td>
                    <td>54</td>
                </tr>
                <tr>
                    <td>Sand Casting</td>
                    <td>45</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>55</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>59</td>
                    <td>56</td>
                    <td>53</td>
                    <td>50</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>