
  <div class="header">
    <!-- Left Side: Toggle Group -->
 

    <!-- Right Side: Form Input and Buttons -->
    <div class="add-section">
      <mat-form-field appearance="standard">
        <mat-label>Material Type Name</mat-label>
        <input matInput [(ngModel)]="newMaterialType" />
      </mat-form-field>
      <button
        mat-raised-button
        class="circular-button primary-button"
        color="primary"
        (click)="isEditMode ? updateMaterial() : addMaterial()"
        [disabled]="newMaterialType.trim().length === 0"
      >
        <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
        
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="isEditMode"
        (click)="cancelAction()"
      >
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </div>

 

<div class="table-container">
  <!-- Table -->
  <table>
    <thead>
      <tr>
        <th style="width: 80%;">Material Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materialTypes$ | async">
        <td>{{ material.name }}</td>
        <td class="actions">
          <mat-icon aria-label="Edit material type" class="icon" (click)="startEdit(material)">edit</mat-icon>
          <mat-icon aria-label="Delete material type" class="icon" (click)="deleteMaterialType(material._id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

