.full-width {
  width: 100%;
  
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.process-table-scroll {
  max-height: 250px; /* Set desired height */
  overflow-y: auto;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Optional: Fix header while scrolling */
.process-table-scroll table {
  min-width: 100%;
}
