
<div class="main-container">
  <h2>Supplier List</h2>
  <div class="header">
    
    <div class="filter">
      <div class="material-filter">
        <label for="materialType">Filter by Material Type</label>
        <select 
          id="materialType"
          [(ngModel)]="selectedMaterialType" 
          (change)="applyFilter()"
          class="form-select"
        >
          <option value="">All</option>
          <option *ngFor="let type of materialTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    
      <div class="search-box">
        <label for="searchInput">Search Supplier Name & Material Name</label>
        <div class="search-input-wrapper">
          <input
            id="searchInput"
            type="text"
            [(ngModel)]="searchTerm"
            (input)="applyFilter()"
            placeholder="Search by supplier or material name"
            class="form-input"
          />
          <span class="search-icon"></span>
          <button
            *ngIf="searchTerm"
            type="button"
            class="clear-btn"
            aria-label="Clear search"
            (click)="searchTerm = ''; applyFilter()"
          >
            ✕
          </button>
        </div>
      </div>
    </div>
    
    <button  id="btn-add-supplier" (click)="addSupplier()">
      <mat-icon>add</mat-icon>
      Add Supplier
    </button>
  </div>
  
  
  <div class="table-container">
   
    <table>
      <thead>
        <tr>
          <th>Supplier Name</th>
          <th>Material Type</th>
          <th>Material Name</th>
          <th>Product Cost</th>
          <th>Address</th>
          <th>Quality</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of paginatedSuppliers">
    <td>{{ supplier.name }}</td>
    <td>{{ supplier.materialType }}</td>
    <td>{{ supplier.materialName }}</td>
    <td>{{ supplier.ratePerKg }}</td>
    <td>{{ supplier.address }}</td>
    <td>{{ supplier.quantity }}</td>
    <td class="actions">
      <mat-icon class="icon" aria-label="Edit supplier" (click)="startEdit(supplier)">edit</mat-icon>
      <mat-icon class="icon" aria-label="Delete supplier" (click)="deleteSupplier(supplier._id)">delete</mat-icon>
    </td>
  </tr>
  
      </tbody>
    </table>
  
    <!-- Paginator -->
    <mat-paginator
      [length]="filteredSuppliers.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[25, 50, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page of suppliers"
      class="paginator"
    ></mat-paginator>
  </div>
</div>
