<!-- Type Dropdown -->
<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeChange($event.value)">
    <mat-option *ngFor="let type of materialTypes" [value]="type">
      {{ type }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Name Dropdown (Disabled until Type is selected) -->
<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <mat-select [(ngModel)]="selectedName" [disabled]="!selectedType">
    <mat-option *ngFor="let name of filteredNames" [value]="name.name">
      {{ name.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
