

<form [formGroup]="overheadForm" (ngSubmit)="onSubmit()">
  <mat-label>Process Name:</mat-label>
 <mat-form-field appearance="fill">
  <mat-label>Process Name</mat-label>
  <mat-select formControlName="processName">
    <mat-option *ngFor="let name of processNames" [value]="name">
      {{ name }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-label>Repair and Maintenance:</mat-label>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="repairAndMaintenance" />
  </mat-form-field>

  <mat-label>Selling, Distribution and Misc Overheads:</mat-label>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="sellingDistributionAndMiscOverHeads" />
  </mat-form-field>

  <mat-label>Finance Cost:</mat-label>
  <mat-form-field appearance="fill">
    <input matInput type="number" formControlName="financeCost" />
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>

