<div  class="table-controls d-flex justify-content-between align-items-center">


<button mat-raised-button color="primary" (click)="openAddMeterialPopup()" >Add Meterial</button>
</div>


<div class="container mx-auto p-4">
 
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="w-full">
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="bold-header">name</th>
        <td mat-cell *matCellDef="let material">{{ material.name }}</td>
      </ng-container>

    
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="bold-header">type</th>
        <td mat-cell *matCellDef="let material">{{ material.materialType }}</td>
      </ng-container>

     
      <ng-container matColumnDef="unitCost">
        <th mat-header-cell *matHeaderCellDef class="bold-header">unitCost</th>
        <td mat-cell *matCellDef="let material">{{ material.unitCost }}</td>
      </ng-container>

     
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="bold-header">actions</th>
        <td mat-cell *matCellDef="let material">
            <button mat-icon-button (click)="onEdit(material)" >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

     
      
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="bold-header">Delete</th>
        <td mat-cell *matCellDef="let material">
          <button mat-icon-button (click)="deleteMaterial(material)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of users">
    </mat-paginator>
  </div>
</div>