<div class="header">
  <h2>Material List</h2>
  <button mat-raised-button color="primary" (click)="openAddMeterialPopup()">Add Material</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Unit Cost</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of paginatedMaterials">
        <td>{{ material.name }}</td>
        <td>{{ material.materialType }}</td>
        <td>₹{{ material.unitCost }}</td>
        <td class="actions">
          <mat-icon class="icon" (click)="onEdit(material)">edit</mat-icon>
          <mat-icon class="icon" (click)="deleteMaterial(material)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="materials.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
