.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 14px 20px;
  color: #5b84ff;
  font-weight: 500;
  border-bottom: 2px solid #5b84ff;
  white-space: nowrap;
}

td {
  padding: 14px 20px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
}

td.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions mat-icon.icon {
  font-size: 25px;
  color: #000;
  cursor: pointer;
}

.actions mat-icon.icon:hover {
  color: #ff4081;
}

tr:hover {
  background-color: #f9f9f9;
}

mat-paginator {
  display: flex;
  justify-content: end;
  padding: 10px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
