<div class="header">
  <h2>Process List</h2>
  <button mat-raised-button color="primary" (click)="openAddMaterial()">Add Process</button>
</div>

<div class="table-container">
  <table class="main-table">
    <thead>
      <tr>
        <th class="col-process">Process Name</th>
        <th class="col-grade">Grade / Raw Material</th>
        <th class="col-grade">Cost</th>
        <th class="col-action">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let process of processes; let i = index">
        <tr class="main-row">
          <td class="col-process">{{ process.processName }}</td>
          <td class="col-grade">
            <span *ngIf="(process.grade?.length || 0) === 0 && (process.rawMaterial?.length || 0) === 0"> - </span>
            <ng-container *ngIf="process.grade?.length > 0">
              <ng-container *ngFor="let g of process.grade; let last = last">
                {{ g.name }}<span *ngIf="!last">, </span>
              </ng-container><br />
            </ng-container>
            <ng-container *ngIf="process.rawMaterial?.length > 0">
              Materials
            </ng-container>
          </td>
          <td class="" >{{ process.processCost
}}</td>
          <td class="col-action">
            <div class="actions">
              <mat-icon class="icon" (click)="toggleExpand(i)">
                {{ expandedIndex === i ? 'expand_less' : 'expand_more' }}
              </mat-icon>
              <mat-icon (click)="deleteProcess(process._id)" class="icon">delete</mat-icon>
              <mat-icon (click)="editAllMaterials(process._id)" class="icon">edit</mat-icon>
            </div>
          </td>
        </tr>

        <tr *ngIf="expandedIndex === i" class="expanded-row">
          <td colspan="4">
            <div class="dropdown-container single-column">
              <!-- Grade Table -->
              <div class="dropdown-table" *ngIf="process.grade?.length > 0">
                
                <table class="sub-table">
                  <thead>
                    <tr>
                      <th class="col-process">Grade Material Type</th>
                      <th class="col-grade">Grade Material</th>
                      <th class="col-action">Grade Quantity</th>
                       <th class="col-action">Unit Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let grade of process.grade">
                      <ng-container *ngFor="let raw of grade.rawMaterial">
                        <ng-container *ngFor="let material of raw.materialsUsed">
                          <tr>
                            <td class="col-process">{{ raw.type }}</td>
                            <td class="col-grade">{{ material.name }}</td>
                            <td class="col-action">{{ material.quantity }}</td>
                            <td class="col-action">{{ material.unitCost | number:'1.2-2' }}</td> 
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>

              <!-- Raw Material Table -->
              <div class="dropdown-table" *ngIf="process.rawMaterial?.length > 0">
               
                <table class="sub-table">
                  <thead>
                    <tr>
                      <th class="col-process">Material Type</th>
                      <th class="col-grade">Material Name</th>
                      <th class="col-action">Material Quantity</th>
                       <th class="col-action">Unit Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let raw of process.rawMaterial">
                      <ng-container *ngFor="let material of raw.materialsUsed">
                        <tr>
                          <td class="col-process">{{ raw.type }}</td>
                          <td class="col-grade">{{ material.name }}</td>
                          <td class="col-action">{{ material.quantity }}</td>
                          <td class="col-action">{{ material.unitCost | number:'1.2-2' }}</td> 
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>